// Fonts
@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-Medium.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Roboto-Light";
    src: url("../assets/fonts/Roboto-Light.ttf");
    font-display: swap;
}


@font-face {
    font-family: "Roboto-Black";
    src: url("../assets/fonts/Roboto-Black.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Roboto-Bold";
    src: url("../assets/fonts/Roboto-Bold.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Roboto-Italic";
    src: url("../assets/fonts/Roboto-Italic.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Baskerville";
    src: url("../assets/fonts/LibreBaskerville-Regular.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Baskerville-Bold";
    src: url("../assets/fonts/LibreBaskerville-Bold.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Baskerville-Italic";
    src: url("../assets/fonts/LibreBaskerville-Italic.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Nunito";
    src: url("../assets/fonts/NunitoSans-Regular.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Nunito-Bold";
    src: url("../assets/fonts/NunitoSans-Bold.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Nunito-ExtraBold";
    src: url("../assets/fonts/NunitoSans-ExtraBold.ttf");
    font-display: swap;
}

.monotype {
    font-family: "Courier New", Courier, monospace;
}