/**
* Page content
*/
.page-content {
    flex: 1;
}

.page-heading {
    @include relative-font-size(2);
}

.post-list-heading {
    @include relative-font-size(1.75);
}

.post-list {
    margin-left: 0;
    list-style: none;
}

.post-excerpt {
    line-height: 1.5;
    font-family: "Baskerville", Arial, Helvetica, sans-serif;
    text-align: justify;
}

.post-block {
    padding-bottom: 3%;
    margin: 0;
    border-bottom: 1px solid #e3e3e3;
}

.post-block:not(:first-child) {
    padding-top: 4%;
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
    margin-bottom: $spacing-unit / 3;

    .icon {
        vertical-align: text-top;
    }
}

.post-link {
    display: block;
    @include relative-font-size(1.6);
    font-family: $post-base-font;
    margin-bottom: $spacing-unit / 3;
    width: fit-content;


    @include media-query($on-laptop) {
        @include relative-font-size(2.25);
    }

    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
    margin-bottom: $spacing-unit / 2;
}

.post-category {
    cursor: pointer;
    @include relative-font-size(0.7);
    background-color: $code-alt-color;
    border: 1px solid $code-alt-color-darker;
    text-transform: uppercase;
    padding: 3px;
    margin-right: 5px;

    a {
        text-decoration: none;
        color: $cat-color;
    }
}

#offline-warning {
    text-align: center;
    background-color: #d25d5d;
    padding: $spacing-unit / 2;
    margin: $spacing-unit / 3;
}