@charset "utf-8";

// light
$text-color: #111111 !default;
$background-color: #f7f7fa !default;
$brand-color: #2a7ae2 !default;
$grey-color: #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark: darken($grey-color, 25%) !default;

$code-color: #fff6f2;
$code-background-color: #fff6f2;
$code-alt-color: #EFEFFF;
$code-alt-color2:#fafaf7;
$code-alt-color-darker: #d7d7e5;
$cat-color:#1756a9;

$aside-border-color: #e3e3e3;

@import "./base",
"./page",
"./layout",
"./home",
"./syntax-highlighting";