@charset "utf-8";

// dark
$text-color: #EEEEEE !default;
$background-color: #2D2D2D !default;
$brand-color: #E2922A !default;
$grey-color: #828282 !default;
$grey-color-light: #2d2d2d !default;
$grey-color-dark: darken($grey-color, 25%) !default;

$code-color: #FFFFEF;
$code-background-color: #454545;
$code-alt-color: #3E4A52;
$code-alt-color2:#4c6071;
$code-alt-color-darker: #3E4A52;
$cat-color: #9CC3DB;

$aside-border-color:$code-alt-color2;

@import "./base",
"./page",
"./layout",
"./home",
"./syntax-highlighting";