--- 
# Only the main Sass file needs front matter (the dashes are enough) 
--- 

@import "fonts";
@import "theme";

@charset "utf-8";

.light-body {
    // light
    $text-color: #111111 !default;
    $background-color: #f7f7fa !default;
    $brand-color: #2a7ae2 !default;
    $grey-color: #828282 !default;
    $grey-color-light: lighten($grey-color, 40%) !default;
    $grey-color-dark: darken($grey-color, 25%) !default;

    $code-color: #fff6f2;
    $code-background-color: #fff6f2;
    $code-alt-color: #EFEFFF;
    $code-alt-color2: #fafaf7;
    $code-alt-color-darker: #d7d7e5;
    $cat-color: #1756a9;

    $aside-border-color: #e3e3e3;

    @import "./base",
    "./page",
    "./layout",
    "./home",
    "./syntax-highlighting";
}

.dark-body {
    // dark
    $text-color: #EEEEEE !default;
    $background-color: #2D2D2D !default;
    $brand-color: #E2922A !default;
    $grey-color: #828282 !default;
    $grey-color-light: #2d2d2d !default;
    $grey-color-dark: darken($grey-color, 25%) !default;

    $code-color: #FFFFEF;
    $code-background-color: #454545;
    $code-alt-color: #3E4A52;
    $code-alt-color2: #4c6071;
    $code-alt-color-darker: #3E4A52;
    $cat-color: #9CC3DB;

    $aside-border-color: $code-alt-color2;

    @import "./base",
    "./page",
    "./layout",
    "./home",
    "./syntax-highlighting";
}