---
layout: default
---
<div class="home">

  <!-- Posts list -->
  <main>
    {%- if paginator.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in paginator.posts -%}
      <li class="post-block">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <!-- Title -->
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
          <!-- Categories -->
          {%- for cat in post.categories -%}
          <span class="post-category"><a href="/category/{{cat}}">{{cat}}</a></span>
          {%- endfor -%}
        </h3>
        <span class="post-excerpt">{{ post.excerpt }}</span>
      </li>
      {%- endfor -%}
    </ul>

    <!-- Pagination links -->
    <div class="pagination">
      {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
      {% endif %}
      <span class="page_number ">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
      {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">Next</a>
      {% endif %}
    </div>
  </main>

  <!-- Info bar -->
  <aside>
    <section>

      <!-- Personal info -->
      <div class="aside-block personal-info">
        <img id="me-img" loading="lazy" src="/assets/images/me.JPG" alt="Me" width="140px" height="140px" />
        <div class="title">Jorge Cifuentes</div>
        <div class="content">Hi! This is a digital archive where I post pieces of code about stuff I've done and don't
          want to
          forget. I'm a
          software engineer.</div>
      </div>

      <!-- Categories -->
      <div class="aside-block">
        <div class="title">Categories</div>
        {% for category in site.categories %}
        <span class="post-category">
          <a href="/category/{{category[0]}}"><strong>{{category[0]}}</strong></a></span>
        {% endfor %}
      </div>


      <!-- Social buttons -->
      <div class="aside-block">
        <div class="title">Social</div>
        <a class="aside-button github-button" href="https://github.com/jorgecf" rel="noopener noreferrer"
          target="_blank" aria-label="Follow @jorgecf on GitHub">
          <img class="icon" src="../assets/images/GitHub-Mark-32px.png" alt="GitHub icon" />
          <span>Follow me on GitHub</span>
        </a>

        <a class="aside-button rss-button" href="{{ "/feed.xml" | relative_url }}" rel="noopener noreferrer"
          target="_blank" aria-label="Subscrive via RSS feed">
          <img class="icon" src="../assets/images/32px-Generic_Feed-icon.png" alt="RSS icon" />
          <span>Subscribe via RSS</span>
        </a>
      </div>

      <!-- Switch theme -->
      <div class="aside-block">
        <div class="title">Don't hurt your eyes</div>
        <a onclick="switchTheme()" class="aside-button">Switch theme</a>
      </div>

      <!-- Map -->
      <!-- <div class="aside-block">
        <div class="title">My location</div>
        <img loading="lazy" src="/assets/images/map.png" alt="Madrid, Spain" title="Madrid, Spain (OpenStreetMap.org)"
          width="235" height="185" />
      </div> -->

    </section>
  </aside>

  {%- endif -%}
</div>