---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <!-- Title -->
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>

    <!-- Meta -->
    <p class="post-meta">
      <!-- Date -->
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        Posted on {{ page.date | date: date_format }}
      </time>

      <!-- Read time -->
      <span>
        ∙ {{ page.content | number_of_words | divided_by: 150 | append: " minute read" }} ∙
      </span>

      <!-- Categories -->
      {%- for cat in page.categories -%}
      <span class="post-category"><a href="/category/{{cat}}">{{cat}}</a></span>
      {%- endfor -%}

      <!-- Github -->
      {%- if page.codeurl -%}
      ∙ <img loading="lazy" class="icon" src="/assets/images/GitHub-Mark-32px.png" alt="GitHub icon" width="16px"
        height="16px" />
      <a href="{{page.codeurl}}" target="_blank" rel="noreferrer noopener">Find the code in Github</a>
      {%- endif -%}
    </p>
  </header>

  <!-- Content -->
  <div class="post-content" itemprop="articleBody">
    <!-- Content -->
    {{ content }}

    <!-- Author -->
    {%- if page.author -%}
    <span class="posted-by" itemprop="author" itemscope itemtype="http://schema.org/Person">
      Posted by
      <span itemprop="name">{{ page.author }}
      </span>
    </span>
    {%- endif -%}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>

</article>

<button onclick="switchTheme()" title="Switch theme" class="dark-mode-button-post"></button>